# Ignore target directories
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Ignore VS Code files
.vscode/

# Ignore Eclipse/STS files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore Expo/React Native specific files
/frontend/.expo/
/frontend/.expo-shared/

# Ignore Desktop Services
.DS_Store